.container
    max-width: 1190px
    margin: 0 auto
    padding: 0 10px

li
    list-style: none

a
    text-decoration: none

.header__top-inner
    display: flex
    justify-content: space-between
    align-items: flex-end
    padding-bottom: 10px

.menu__list
    display: flex
    padding: 0

.menu__item + .menu__item
    margin-left: 32px

.menu__link
    padding: 0 9px 9px
    font-size: 12px
    line-height: 14px
    font-weight: bold
    color: rgba(55, 58, 57, 1)
    transition: all .5s
    &:hover
        border-bottom: 1px solid #FCBB08

.header__title
    padding-top: 145px
    margin: 0
    margin-top: auto
    font-style: normal
    font-weight: 500
    font-size: 72px
    line-height: 88px
    color: #fff

.header__subtitle
    margin: 0
    margin-bottom: auto
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 20px
    color: #FCBB08
    letter-spacing: 2.74286px

.header__content
    background-image: url('../img/Header-bg.png')
    background-size: cover
    background-repeat: no-repeat
    background-position: top center
    &-inner
        display: flex
        flex-direction: column
        min-height: calc( 100vh - 79px )
        align-items: center
        justify-content: space-between

.header__icon
    margin-bottom: 62px

.about
    padding: 152px 0 159px 0
    background-color: #F6F8FA
    &__inner
        display: flex
        justify-content: space-between
    &__text p
        max-width: 770px
        font-style: normal
        font-weight: 300
        font-size: 14px
        line-height: 24px
        color: #373A39

.title
    font-style: normal
    font-weight: bold
    font-size: 60px
    line-height: 75px
    align-self: flex-start
    margin: 0
    letter-spacing: -1.65px
    position: relative
    padding-bottom: 14px
    &::after
        content: ''
        position: absolute
        width: 60px
        height: 4px
        background-color: #FCBB08
        left: 0
        bottom: 0

.about__title
    font-size: 48px

p
    margin: 0

h1, h2, h3, h4, h5, h6
    margin: 0

.expertise
    padding: 140px 0 160px 0
    &__title
        margin-bottom: 90px
    &__inner
        display: flex
        align-items: center
        margin-bottom: 110px
    &__info
        width: 370px
        flex: none
        align-self: flex-start
        margin-right: 30px
        &-item
            border-top: 2px solid black
            padding: 2px 0 28px 0
            margin-top: 7px
            font-style: normal
            font-weight: normal
            font-size: 11px
            line-height: 20px
            letter-spacing: 1px
            position: relative
            span
                position: absolute
                right: 0
                top: 0
                &::before
                    content: ''
                    height: 2px
                    position: absolute
                    background-color: #F0F0F0
                    right: 0
                    top: -2px
                    width: 100%
    &__text
        max-width: 770px
        align-self: flex-start
        p
            margin-bottom: 25px
            font-style: normal
            font-weight: 300
            font-size: 14px
            line-height: 24px
    &__items
        display: flex
        justify-content: space-between
    &__item
        width: 370px
        position: relative
        padding-left: 85px
        &::before
            content: ''
            width: 50px
            height: 50px
            position: absolute
            left: 0
            top: 0
        &--desing::before
            background-image: url('../img/desing.svg')
        &--monitor::before
            background-image: url('../img/monitor.svg')
        &--marketing::before
            background-image: url('../img/marketing.svg')
        &-text
            font-style: normal
            font-weight: 300
            font-size: 14px
            line-height: 24px
            color: #777777
        &-title
            margin-bottom: 18px
            font-style: normal
            font-weight: bold
            font-size: 14px
            letter-spacing: 4.2875px

.magic
    background-color: #F6F8FA
    background-image: url('../img/magic-dog.jpg')
    background-repeat: no-repeat
    background-position: center left
    &__title
        margin-bottom: 67px
    &__inner
        max-width: 470px
        margin-left: auto
        padding: 100px 0 180px
        &-text p
            margin-bottom: 25px
            font-style: normal
            font-weight: 300
            font-size: 14px
            line-height: 24px
            color: #373A39